@media(max-width:991px) {
    .logo{
        width: 23%;
    }
    .container,.navbar{
        width: 85%;
    }
    .item{
        width: 45%;
        padding-bottom: 10px;
    }
    
    
}

@media(max-width:500px) {
    .logo{
        width: 20%;
    }
    .container,.navbar{
        width: 95%;
    }
    .item{
        float: none;
        width: 100%;
        padding-bottom: 10px;
    }
  
}

@media(max-width:891px) {
    .logo{
        width: 25%;
    }
    .container,.navbar{
        width: 90%;
    }
}
@media(max-width:767px){
   
    .navbar .button,.list{
        display: none;
    }
    .icons i.fa-bars{
        display:unset;
    }
    .logo,.icons{
        width: 50%;
    }
    .navbar .icons{
        text-align: right;
    }
}
@media(max-width:767px){
 .image{
    width: 100%;
 }
 .parg{
    width: 100%;
 }
}
@media (max-width : 1000px) {
    .prodect{
        
        width: 50%;
       
    }
    
}
@media (max-width : 650px) {
    .prodect{
        
        width: 100%;
       
    }
    
}